<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->



<title>"YoungestSalon's Tech Blog"</title>

<lin rel="shortcut icon" href="/images/favicon.ico"/>

<!-- made by www.metatags.org -->
<!-- <meta name="description" content="A Blog about Data Science & IT Technology" / -->
<meta name="keywords" content="YoungestSalon, Data Science, IT Technology, Machine Learning, Deep Learning, Python, R" />
<meta name="author" content="metatags generator">
<meta name="robots" content="index, follow">
<!-- Data Science, IT Technology, Machine Learning -->

<meta property="og:image" content="/images/OSS_image.jpg"/>
<meta property="og:url" content="https://youngestsalon.github.io/"/>
<meta property="og:description" content="YoungestSalon''s Tech Blog"/>
<meta property="og:title" content="막내살롱의 데이터 사이언스/IT 블로그"/>



<!-- end custom head snippets -->
